<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Properties>
        <Property name="basePath">C:\Users\mepure\IdeaProjects\FinalProject\src\main\resources</Property>
    </Properties>
    <Appenders>
        <RollingFile name="fileLogger" fileName="${basePath}/logs/Users_Roles_Tests.log"
                     filePattern="${basePath}/Users_Roles_Tests-%d{yyyy-MM-dd}.log" append="false">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.endava" level="debug" additivity="true">
            <appender-ref ref="fileLogger" level="debug"/>
        </Logger>
        <Root level="info" additivity="false">
            <appender-ref ref="console"/>
            <appender-ref ref="fileLogger"/>
        </Root>
    </Loggers>
    <Loggers>
        <Logger name="com.endava" level="info" additivity="true">
            <appender-ref ref="fileLogger" level="debug"/>
        </Logger>
        <Root level="info" additivity="false">
            <appender-ref ref="console"/>
            <appender-ref ref="fileLogger"/>
        </Root>
    </Loggers>
</Configuration>